
#banner
    .banner_content 
        
        %h1{:style => "text-shadow: 3px 3px #669999; color:red;"} Fundo notes
        %h3 Simple note keeping app using RoR
        %button= link_to "Sigup", new_user_registration_path
        
        #testimonial
            .wrapper    
                %h3.quote.strong Never Let You Forget Any Thing...
                %h3.name Shakti Prasad Satapathy



.footer
    %p &copy; Shakti Corp
