
#banner
    .banner_content 
        %h1{:style => "text-shadow: 3px 3px #669999; color:red;"} Fundo notes
        %h3 Simple note keeping app using RoR
        %button= link_to "Sigup", new_user_registration_path
        
#testimonial
    .wrapper    
        %h3.quote.strong Never Let You Forget Any Thing...
        %h3.name Shakti Prasad Satapathy

#callouts
    .callout_inner
        .callout
            %h2 Mission
            %p We wants to create a vertual notes book which helpes to record all our day today activity which we wants to store as a memory
        .callout
            %h2 Vission
            %p All Special notes should be keep here
        .callout
            %h2 Ambition
            %p to  make world paper less and degitalized


.footer
    %p &copy; Shakti Corp
