#banner
    .banner_content 
        %h1 Fundo notes
        %p Simple note keeping app using RoR
        %button= link_to "Sigup", new_user_registration_path
#testimonial
    .wrapper    
        %p.quote "Never forget any thing what you know, Store and use any time
        %p.name - Shakti Prasad Satapathy

#callouts
    .callout_inner
        .callout
            %h2 Mission
            %p We wants to create a vertual notes book which helpes to record all our day today activity which we wants to store as a memory
        .callout
            %h2 Vission
            %p All Special notes should be keep here
        .callout
            %h2 Ambition
            %p to  make world paper less and degitalized

#botton_cta 
    .wrapper
        %h2 for realz
        %p I want you to signup
        %button= link_to "Click Me", new_user_registration_path

%footer
    %p &copy; Shakti Corp
